<div [routerLink]="['character', character.id]" class="card" style="width: 18rem">
  <img class="card-img-top" src={{character.image}} alt={{character.name}}>
  <div class="card-body">
    <h5 class="font-weight-bold">{{character.name}}</h5>
    <p class="card-text">status: {{character.status}}</p>
    <p class="card-text">species: {{character.species}}</p>
    <p class="card-text">gender: {{character.gender}}</p>
    <p class="card-text">origin: {{character.origin.name}}</p>
    <p class="card-text">location: {{character.location.name}}</p>
  </div>
</div>

