<div class="container-fluid d-flex justify-content-center justify-items-center mt-5">
  <div class="row">
    <div class="card-body">
      <h5 class="card-title">This page was created by Diana LLerena using the RICK AND MORTY API</h5>
      <p class="card-text">Find more information about me by clicking the button</p>
      <a href="https://drive.google.com/file/d/1akVgbPDDq19q5X3KE72l0kYPkwWY7MUy/view?usp=share_link" target="_blank" class="btn btn-secondary">Open cv</a>
    </div>
  </div>
</div>
