<div class="container">
  <h3 class="font-weight-bold pink-lighter-hover mb-5 mt-5">Character detail:</h3>
  <div class="row">
    <div class="card mb-3" style="max-width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{character.image}} alt={{character.name}} style="width: 100%;">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <p class="card-text">Gender: {{character.gender}}</p>
            <p class="card-text">Status: {{character.status}}</p>
            <p class="card-text">Species: {{character.species}}</p>
            <p class="card-text">Origin: {{character.origin}}</p>
            <p class="card-text">Location: {{character.location}}</p>
            <p class="card-text"><small class="text-muted">More info: {{character.url}}</small></p>
            <p class="card-text"><small class="text-muted">{{character.created}}</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
